* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-base);
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}
